<!DOCTYPE html>
<html>
    <head>
        <title>CSGOCC</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="icon" href="/assets/favicon.png">
    </head>
    <body>
        <input type="hidden" value="<%-user === false ? "" : user.sub%>" id="user-id">
        <input type="hidden" value="<%-user === false ? "" : user.unreadNotificationCount%>" id="user-unreadnotifs">
        <input type="hidden" value="<%-page === null ? "" : page%>" id="autoPageId">
        <input type="hidden" value="<%-admin === true ? 1 : 0%>" id="admin">
        <input type="hidden" value="<%-rank || 'none'%>" id="rank">
        <input type="hidden" value="<%-wins%>" id="wins">
        <input type="hidden" value="<%-avatar%>" id="avatar">
        <input type="hidden" value="<%-nickname%>" id="nickname">
        <input type="hidden" value="<%-restrictionType%>" id="restrictionType">
        <input type="hidden" value="<%-restrictionExpires%>" id="restrictionExpires">
        <input type="hidden" value="<%-JSON.stringify(restrictions)%>" id="restrictions">
        <input type="hidden" value="<%-agreementNeeded === true ? 1 : 0%>" 
        id="agreementNeeded">
        <input type="hidden" value="<%-wskey%>" id="wskey">
        <div id="notifmessageMaster">
            <div id=notifmessageContainer>
                <div id="notifmessageHeader">
                    <span id="notifmessageHeaderText"></span>
                </div>
                <div id="notifmessageBody">
                </div>
                <div id="notifmessageOptions">
                </div>
            </div>
        </div>
        <%-include('../templates/header.ejs')%>
        <%-include('../templates/background.ejs')%>
        <%-include('../templates/maincomponents.ejs')%>
    </body>
    <script src="/scripts/cookies.js" nonce="<%=nonce%>"></script>
    <script src="/scripts/background.js" nonce="<%=nonce%>"></script>
    <script src="/scripts/locale.js" nonce="<%=nonce%>"></script>
    <script src="/scripts/main.js" nonce="<%=nonce%>"></script>
</html>